# Core Django
Django==5.2.6
sqlparse==0.5.3

# Production Server
gunicorn==23.0.0
whitenoise==6.11.0

# Database (PostgreSQL for production)
psycopg2-binary==2.9.11

# Environment Variables
python-decouple==3.8

# Image Processing
Pillow==12.0.0
