{% extends 'base.html' %}
{% load static %}

{% block title %}Party - The Event Hub{% endblock %}

{% block content %}
    <section id="birthday" class="py-2 bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-md-2 mb-3">
                    <div class="bg-white rounded p-5 text-center">
                        <i class="bi bi-balloon-heart fs-1 text-purple"></i>
                    </div>
                </div>
                <div class="col-md-6 order-md-1">
                    <h1 class="fw-bold mb-2">Decortation Services</h1>
                    <h4>✨ Make Your Special Day Truly Unforgettable! ✨</h4>
                    <p>Celebrate your party in a style with our complete party planning
                         and some catering services. we take care of every detail looks for stunning decoration so you can enjoy your day with your friends
                        stress-free. Let us turn your each celebration into beautiful memories for you and your loved ones!</p>
                    <a href="{% url 'contact' %}" class="btn btn-warning">Book Your Party</a>
                </div>
            </div>

            <!-- Image Gallery -->
            <div class="gallery-section">
                <h2 class="text-purple">Our All Parties Decoration</h2>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/1b.webp' %}" alt="Birthday 1">
                        </div>
                        <p class="text-center mt-2 text-purple">1. Backdrop & Table Setup
                            Party decoration 🎉 <br>
                            Starting from -> $348</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/2b.webp' %}" alt="Birthday 2">
                        </div>
                        <p class="text-center mt-2 text-purple">2. Curtain & Lights
                            Elegant backdrop ✨ <br>
                            Starting from -> $448</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/3b.webp' %}" alt="Birthday 3">
                        </div>
                        <p class="text-center mt-2 text-purple">3. Backdrop & Table
                            Stylish setup 🎈 <br>
                            Starting from -> $548</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/4b.png' %}" alt="Birthday 4">
                        </div>
                        <p class="text-center mt-2 text-purple">4. Wall Decoration
                            Budget-friendly 🎊 <br>
                            Starting from -> $99</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/5b.png' %}" alt="Birthday 5">
                        </div>
                        <p class="text-center mt-2 text-purple">5. Gold Arch
                            Premium look ✨ <br>
                            Starting from -> $398</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/6b.png' %}" alt="Birthday 6">
                        </div>
                        <p class="text-center mt-2 text-purple">6. Black & White Arch
                            Elegant style 🖤 <br>
                            Starting from -> $399</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/7b.png' %}" alt="Birthday 7">
                        </div>
                        <p class="text-center mt-2 text-purple">7. Blue Garland
                            Stylish décor 💙 <br>
                            Starting from -> $399</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/8b.png' %}" alt="Birthday 8">
                        </div>
                        <p class="text-center mt-2 text-purple">8. Black & White Bouquet
                            Charming setup 🎀 <br>
                            Starting from -> $499</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/9b.png' %}" alt="Birthday 9">
                        </div>
                        <p class="text-center mt-2 text-purple">9. Pastel Garland
                            Dreamy decor 🎈 <br>
                            Starting from -> $99</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/10b.png' %}" alt="Birthday 10">
                        </div>
                        <p class="text-center mt-2 text-purple">10. Blue Number Arch
                            Stylish setup 💙 <br>
                            Starting from -> $249</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/11b.png' %}" alt="Birthday 11">
                        </div>
                        <p class="text-center mt-2 text-purple">11. Red & White Heart
                            Romantic setup ❤️ <br>
                            Starting from -> $99</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/12b.png' %}" alt="Birthday 12">
                        </div>
                        <p class="text-center mt-2 text-purple">12. Red & White Numbers
                            Birthday celebration 🎉 <br>
                            Starting from -> $249</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/13b.png' %}" alt="Birthday 13">
                        </div>
                        <p class="text-center mt-2 text-purple">13. Pastel Table Decor
                            Soft celebration 🎈 <br>
                            Starting from -> $199</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/14b.png' %}" alt="Birthday 14">
                        </div>
                        <p class="text-center mt-2 text-purple">14. Pink & Purple Backdrop
                            Majestic ambiance 💜 <br>
                            Starting from -> $349</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/15b.png' %}" alt="Birthday 15">
                        </div>
                        <p class="text-center mt-2 text-purple">15. Colorful Party Setup
                            Complete package 🎉 <br>
                            Starting from -> $499</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/16b.png' %}" alt="Birthday 16">
                        </div>
                        <p class="text-center mt-2 text-purple">16. Blue & Gold Backdrop
                            Glamorous theme ✨ <br>
                            Starting from -> $249</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/17b.webp' %}" alt="Birthday 17">
                        </div>
                        <p class="text-center mt-2 text-purple">17. Gold & Black Birthday Wall
                            Elegant birthday wall 🎉 <br>
                            Starting from -> $249</p>
                    </div>

<!--New-->

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/18b.jpeg' %}" alt="Birthday 18">
                        </div>
                        <p class="text-center mt-2 text-purple">18. Red & Gold Number Setup
                            Luxury milestone celebration ✨ <br>
                            Starting from -> $449</p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/19b.jpeg' %}" alt="Birthday 19">
                        </div>
                        <p class="text-center mt-2 text-purple">19. Mickey Mouse Party Package
                            Character party theme 🐭 <br>
                            Starting from -> $549</p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/20b.jpeg' %}" alt="Birthday 20">
                        </div>
                        <p class="text-center mt-2 text-purple">20. Rose Gold Balloon Arch
                            Elegant pink celebration 💕 <br>
                            Starting from -> $449</p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/21b.jpeg' %}" alt="Birthday 21">
                        </div>
                        <p class="text-center mt-2 text-purple">21. Gold Confetti Balloon Bouquet
                            Elegant celebration 🎉 <br>
                            Starting from -> $119</p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/22b.jpeg' %}" alt="Birthday 22">
                        </div>
                        <p class="text-center mt-2 text-purple">22. White Pearl Balloon Garland
                            Classic elegant setup ✨ <br>
                            Starting from -> $149</p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/23b.jpeg' %}" alt="Birthday 23">
                        </div>
                        <p class="text-center mt-2 text-purple">23. Black "Let's Party" Arch
                            Bold celebration theme 🖤 <br>
                            Starting from -> $349</p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/24b.jpeg' %}" alt="Birthday 24">
                        </div>
                        <p class="text-center mt-2 text-purple">24. Red "Let's Party" Arch
                            Vibrant party setup ❤️ <br>
                            Starting from -> $349</p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/25b.jpeg' %}" alt="Birthday 25">
                        </div>
                        <p class="text-center mt-2 text-purple">25. White "Let's Party" Arch
                            Elegant party theme 🤍 <br>
                            Starting from -> $349</p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/26b.jpeg' %}" alt="Birthday 26">
                        </div>
                        <p class="text-center mt-2 text-purple">26. Silver Chrome Balloon Arch
                            Luxury metallic decor ✨ <br>
                            Starting from -> $649</p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gallery-item">
                            <img src="{% static 'img/birthday/27b.jpeg' %}" alt="Birthday 27">
                        </div>
                        <p class="text-center mt-2 text-purple">27. Blue & Gold Balloon Wreath
                            Coastal elegant setup 💙 <br>
                            Starting from -> $279</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
